@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.chat-grid {
  @apply grid grid-cols-chat;
}

@media (max-width: 1200px) {
  .chat-grid {
    @apply grid-cols-chat-mobile;
  }
}

.reviews-filter-container {
  @apply flex flex-row justify-between;
}

@media (max-width: 1060px) {
  .reviews-filter-container {
    @apply flex-col;
  }
}

body {
  @apply bg-black text-gray-500;
}

.active-link {
  @apply text-green-400 font-bold border-b border-green-400 mx-2 cursor-pointer;
}

.outline-btn {
  @apply text-slate-700 p-2 h-9 rounded transition ease-in-out  hover:opacity-70;
}

.editor-btn {
  @apply text-2xl border rounded border-gray-400 cursor-pointer m-1;
}

.custom-editor {
  @apply max-w-full rounded min-h-[450px] mt-0 bg-gray-900 text-gray-400;
}

.btn {
  @apply bg-green-400 text-slate-700 p-2 h-9 rounded transition ease-in-out  hover:opacity-70;
}

.reset-password-background {
  @apply bg-[url('./assets/reset-password.svg')] bg-cover w-full min-h-screen;
}

.forgot-password-background {
  @apply bg-[url('./assets/forgot-password.png')] bg-cover w-full min-h-screen;
}

.user-dashboard-add-review {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 1100px) {
  .user-dashboard-add-review {
    flex-direction: column;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(15, 23, 42);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input.PhoneInputInput {
  background-color: transparent;
  border: 1px solid rgb(31 41 55);
  border-radius: 4px;
  height: 35px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid rgb(31 41 55);
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #0c0a09;
}

.code-review-code {
  counter-reset: step;
  counter-increment: step 0;
}

.code-review-code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.4);
}

@layer base {
  html {
    font-family: 'Nunito', system-ui, sans-serif;
  }
}
